.header {
     height: 100px;
     width: 100%;
     background-color: blue;
     color: blanchedalmond;
}

.header ul {
     display: flex;
}

.header ul li {
     color: white;
     margin-right: 20px;
     border: 1px solid black;
}